html                                                                                                    {
  html-lang: 'en'                                                                                       ;
  head                                                                                                  {
    meta { html-charset: 'UTF-8' }
    title { content: 'Volume Changer' }
    style                                                                                               {
      body                                                                                              {
        overflow: hidden                                                                                ;
        user-select: none                                                                               ;
        font-family: "Comic Sans MS", "Segoe UI", sans-serif                                            ;}

      .button                                                                                           {
        position: absolute                                                                              ;
        display: block                                                                                  ;
        width: 50%                                                                                      ;
        height: 100%                                                                                    ;
        top: 0                                                                                          ;}

      .colored-shit                                                                                     {
        width: calc(100% - 10px)                                                                        ;
        height: calc(100% - 10px)                                                                       ;
        border-radius: 25px                                                                             ;
        margin: 5px                                                                                     ;
        text-align: center                                                                              ;
        font-size: 40em                                                                                 ;
        cursor: pointer                                                                                 ;}

      .colored-shit .text:hover                                                                         {
        animation: dope-ass-hover-shit 1s infinite                                                      ;}

      .big-ass-green-button                                                                             {
        left: 0                                                                                         ;}

      .big-ass-green-button .colored-shit                                                               {
        background-color: green                                                                         ;
        color: red                                                                                      ;}

      .big-ass-red-button                                                                               {
        right: 0                                                                                        ;}

      .big-ass-red-button .colored-shit                                                                 {
        background-color: red                                                                           ;
        color: green                                                                                    ;}

      #volume-display                                                                                   {
        position: absolute                                                                              ;
        width: 150px                                                                                    ;
        height: 150px                                                                                   ;
        line-height: 150px                                                                              ;
        display: block                                                                                  ;
        margin: 50vh 50vw                                                                               ;
        transform: translate(-50%, -50%)                                                                ;
        border-radius: 50%                                                                              ;
        background-color: gray                                                                          ;
        z-index: 9999                                                                                   ;
        text-align: center                                                                              ;
        vertical-align: middle                                                                          ;
        font-size: 40px                                                                                 ;
        color: white                                                                                    ;}

      @-webkit-keyframes dope-ass-hover-shit                                                            {
        0%                                                                                              {
          transform: rotate(0)                                                                          }
        100%                                                                                            {
          transform: rotate3d(360, 360, 360, 360deg)                                                    ;}}

      .unused                                                                                           {
        display: none !important                                                                        ;}}
                                                                                                        }

  body                                                                                                  {
    audio                                                                                               {
      html-id: 'audio'                                                                                  ;
      html-src: 'Avenue.mp3'                                                                            }
    div, .button-holder                                                                                 {
      div, .button, .big-ass-green-button                                                               {
        div, .colored-shit                                                                              {
          div, .text { content: '+' }                                                                   }}
      div, #volume-display                                                                              {
        span, #volume-percentage { content: '0' }
        content-1: '%'                                                                                  }
      div, .button, .big-ass-red-button                                                                 {
        div, .colored-shit                                                                              {
          div, .text { content: '-' }                                                                   }}}

    script                                                                                              {
      html-src: 'https://code.jquery.com/jquery-3.4.1.min.js'                                           ;
      html-integrity: 'sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo='                             ;
      html-crossorigin: 'anonymous'                                                                     }

    script                                                                                              {
        let tabId = Math.floor(Math.random() * 1000000000000)                                           ;
        let tabs = 0                                                                                    ;
        let openedTabs = []                                                                             ;

        const channel = new BroadcastChannel("tab-volume")                                              ;
        let lastId = 0                                                                                  ;
        const listeners = [];
        let thisMaster = false                                                                          ;

        $(() =>                                                                                         {
            checkIsMaster().then(isMaster =>                                                            {
                thisMaster = isMaster                                                                   ;
                console.log(`This is${isMaster ? "" : " not"} master!`)                                 ;
                updateAllTabs()                                                                         ;
                $("#polling-status").addClass("unused")                                                 ;
                if (thisMaster)                                                                         {
                    $("#audio")[0].loop = true                                                          ;
                    $("#audio")[0].play()                                                               ;
                    document.title = "Master Volume"                                                    ;
                    addAdvancedListener(e =>                                                            {
                        switch (e.data)                                                                 {
                            case "Cya":
                                if (--tabs < 0)                                                         {
                                    console.log("Bruh what the fuck, theres negative tabs")           ;
                                    tabs = 0                                                            ;}
                                updateAllTabs()                                                         ;
                                break                                                                   ;
                            case "Ay, close some shit":
                                closeTab()                                                              ;
                                break                                                                   ;
                            case "Open a tab, b":
                                openTab()                                                               ;
                                break                                                                   ;
                            case "Yo fam am I the master?":
                                console.log("Mater request")                                            ;
                                channel.postMessage("Nah fam")                                          ;
                                break                                                                   ;}
                        switch (e.data.message)                                                         {
                            case "Yo whats good":
                                console.log("This guys ID is" + e.data.tabId)                         ;
                                tabs++                                                                  ;
                                updateAllTabs()                                                         ;
                                startKeepalive(e.data.tabId)                                            ;
                                break                                                                   ;}}
                     )                                                                                  ;}
                  else                                                                                  {
                    document.title = "Client Volume"                                                    ;
                    addAdvancedListener(e =>                                                            {
                        if (e.data === "Master is going")                                               {
                            console.log("Rip, we cant do shit since master is gone.")                   ;}
                        switch (e.data.message)                                                         {
                            case "Keepalive":
                                channel.postMessage({tabId: tabId, message: "Im alive"})              ;
                                break                                                                   ;}}
                     )                                                                                  ;
                    channel.postMessage({tabId: tabId, message: "Yo whats good"})                       ;}}
             )                                                                                          }
         )                                                                                              ;

        $(".big-ass-green-button .colored-shit").click(() =>                                            {
            if (thisMaster)                                                                             {
                openTab()                                                                               ;}
              else                                                                                      {
                channel.postMessage("Open a tab, b")                                                    ;}}
         )                                                                                              ;

        $(".big-ass-red-button .colored-shit").click(() =>                                              {
            if (thisMaster)                                                                             {
                closeTab()                                                                              ;}
              else                                                                                      {
                channel.postMessage("Ay, close some shit")                                              ;}}
         )                                                                                              ;

        channel.onmessage = e =>                                                                        {
            listeners.forEach(listener => listener.callback(e))                                         ;};

        addAdvancedListener(e =>                                                                        {
            if (e.data.message === "Volume update")                                                     {
                console.log(`Received volume update ${e.data.value}`)                                   ;
                $("#volume-percentage").text(e.data.value)                                              ;}}
         )                                                                                              ;

        function startKeepalive(tab)                                                                    {
            let tabAlive = false                                                                        ;
            let id = addAdvancedListener(e =>                                                           {
                if (e.data.message === "Im alive")                                                    {
                    if (e.data.tabId === tab)                                                           {
                        tabAlive = true                                                                 ;
                        removeListener(id)                                                              ;}}}
             )                                                                                          ;
            channel.postMessage({target: tab, message: "Keepalive"})                                    ;
            setTimeout(() =>                                                                            {
                removeListener(id)                                                                      ;
                if (tabAlive)                                                                           {
                    startKeepalive(tab)                                                                 ;}
                  else                                                                                  {
                    tabs--                                                                              ;
                    updateAllTabs()                                                                     ;}}
             , 1000)                                                                                    ;}

        function openTab()                                                                              {
            openedTabs.push(window.open(window.location, "_blank"))                                     ;
            window.focus()                                                                              ;}

        function closeTab()                                                                             {
            if (openedTabs.length > 0) openedTabs.pop().close()                                         ;}

        function checkIsMaster()                                                                        {
            return new Promise((resolve, reject) =>                                                     {
                let timeout                                                                             ;
                let id = addListener(data =>                                                            {
                    if (data === "Nah fam")                                                             {
                        removeListener(id)                                                              ;
                        clearTimeout(timeout)                                                           ;
                        resolve(false)                                                                  ;}}
                 )                                                                                      ;
                channel.postMessage("Yo fam am I the master?")                                          ;
                timeout = setTimeout(() =>                                                              {
                    removeListener(id)                                                                  ;
                    resolve(true)                                                                       ;}
                 , 1000)                                                                                ;}
             )                                                                                          ;}

        function addAdvancedListener(callback)                                                          {
            let id = lastId++                                                                           ;
            listeners.push(                                                                             {
                id: id,
                callback: callback                                                                      }
             )                                                                                          ;
            return id                                                                                   ;}

        function addListener(callback)                                                                  {
            return addAdvancedListener(e => callback(e.data))                                           ;}

        function removeListener(id)                                                                     {
            listeners.removeIf(listener => listener.id === id)                                          ;}

        function updateAllTabs()                                                                        {
            $("#volume-percentage").text(tabs)                                                          ;
            channel.postMessage({message: "Volume update", value: tabs})                                ;
            console.log("volume is: " + (tabs / 100))                                                   ;
            $("#audio")[0].volume = tabs / 100                                                          ;}

        Array.prototype.removeIf = function (callback)                                                  {
            let i = this.length                                                                         ;
            while (i--)                                                                                 {
                if (callback(this[i], i))                                                               {
                    this.splice(i, 1)                                                                   ;}}};
                                                                                                        ;}}}
